@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Georgian Dr., Barrie ON L4M 3X9<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:group7a2@gmail.com">group7a2@gmail.com</a><br />
</address>